.order-content {
    border-bottom: 1px solid grey;
    margin-block: 5px;
    color: grey;
}

span.pending {
    color: rgb(218, 0, 218);
}
span.processing {
    color: rgb(242, 145, 0);
}
span.delivering {
    color: rgb(70, 133, 231);
}
span.completed {
    color: rgb(0, 187, 12);
}