.customed-card {
    margin-top: 3rem;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}
.customed-card:hover {
    transform: translateY(-8px);
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.off-sale {
    background-color: rgb(220, 220, 220) !important;
}

.image-wrapper {
    height: 70%;
    overflow: hidden;
    position: 
}
.image-wrapper img{
    transition: 0.3s ease;
}
.customed-card:hover img{
    transform: scale(1.2);
    transition: 0.3s ease;
}

.card-title {
    color: #ff8c09;
}

.item-card-btn {
    width: 200px;
}

.sale-btn {
    background-color: rgb(34, 197, 94);
    border: 1px solid rgb(34, 197, 94);
}
.sale-btn:hover, .sale-btn:active {
    background-color: rgb(22, 163, 74) !important;
    border: 1px solid rgb(22, 163, 74) !important;
}

.stop-selling-btn {
    background-color: rgb(239, 68, 68); /* đỏ tươi */
    border: 1px solid rgb(239, 68, 68);
}
.stop-selling-btn:hover,
.stop-selling-btn:active {
    background-color: rgb(220, 38, 38); /* đỏ đậm hơn khi hover */
    border: 1px solid rgb(220, 38, 38);
}