.order-card {
    margin-block: 20px;
    margin-inline: auto;
    border-radius: 15px;
    width: 90%;
    color: grey;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.order-card.pending {
    border-left: 5px solid rgb(218, 0, 218);
}

.order-card.processing {
    border-left: 5px solid rgb(242, 145, 0);
}

.order-card.delivering {
    border-left: 5px solid rgb(70, 133, 231);
}

.order-card.completed {
    border-left: 5px solid rgb(0, 187, 12);
}
.order-card.cancelled {
    border-left: 5px solid rgb(255, 59, 48);   /* Đỏ tươi */
}

.status {
    font-weight: lighter;
}
.status.pending {
    color: rgb(218, 0, 218);
}
.status.processing {
    color: rgb(242, 145, 0);
}
.status.delivering {
    color: rgb(70, 133, 231);
}
.status.completed {
    color: rgb(0, 187, 12);
}
.status.cancelled {
    color: rgb(255, 59, 48);
}

.new-orders-btn {
    background-color: rgb(218, 0, 218);
    border: 1px solid rgb(218, 0, 218);
}

.in-progress-btn {
    background-color: rgb(242, 145, 0);
    /*rgb(207, 124, 0)*/
    border: 1px solid rgb(242, 145, 0);
}

.ready-btn {
    background-color: rgb(70, 133, 231);
    /*rgb(0, 75, 187)*/
    border: 1px solid rgb(70, 133, 231);
}

.cancelled-btn {
    background-color: rgb(255, 59, 48);
    border: 1px solid rgb(255, 59, 48);
}



/* FOR MOBILE */
@media (max-width:448px) {

    .order-card {
        padding: 10px;
    }

    .customed-header-4 {
        font-size: small;
    }

    .customed-header-6 {
        font-size: x-small;
    }
}